<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotificationsDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>87D6091305A40CB98C5674C9DF77A7660134DF57</string>
				<key>dateExpires</key>
				<string>2020/4/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LG34P76GS7.www.chende.com</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LG34P76GS7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NotificationsDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ab0744dc-1cdf-4c83-9937-5522d303965f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: www.chende.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LG34P76GS7</string>
				<key>name</key>
				<string>xiaowei chen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
